<br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="tm-bg-white-transparent">
          <div class="row">
            <div class="col-12">
              <div class="container">
                <br><br>
                <p>Acceso:
                <p><strong>Username: </strong> AdrizPaola <p>
                <p><strong>Password: </strong> 1008 <p>
                <form action="login.php" method="POST">
                    <div class="container">
                      <label for="username"><b>Username</b></label>
                      <input type="text" placeholder="Enter Username" name="username" id="username" required>

                      <label for="psw"><b>Password</b></label>
                      <input type="password" placeholder="Enter Password" name="password" id="password" required>

                    <button type="submit">Login</button>
                  </div>
                  <br><br>
                </form>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
