<br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="tm-bg-white-transparent">
          <div class="row">
            <div class="col-12">
              <div class="container">
                <h3 class="tm-welcome-title">Editar Fruta</h3>
                 <form action="editarFruta.php" method="POST">
                  <label for="nombre">Nombre de fruta</label><br>
                  <input type="text" name="nombre" id="nombre" required>
                  <br>
                  <label for="unidades">Unidades</label><br>
                  <input type="text" name="unidades" id="unidades" required>
                  <br>
                  <label for="cantidad">Cantidad</label><br>
                  <input type="number" name="cantidad" id="cantidad" required>
                  <br>
                  <label for="precio">Precio por unidad</label><br>
                  <input type="number" name="precio" id="precio" required>
                  <br>
                  <label for="pais">País de origen</label><br>
                  <input type="text" name="pais" id="pais" required>
                  <br>
                  <button type="submit" id="submit" name="submit">Enviar</button>
                </form>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>   