<br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="tm-bg-white-transparent">
          <div class="row">
            <div class="col-12">
              <div class="container">
                <h3 class="tm-welcome-title">Buscar Fruta (Por Precio) AJAX2</h3>
                <form>
                  <input type="number" name="precioo" id="precioo" onkeyup="sendRequest2()">
                  <div id="ajaxResponse2"></div>
                </form>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


          
                