<br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="tm-bg-white-transparent">
          <div class="row">
            <div class="col-12">
              <div class="container">
                <h3 class="tm-welcome-title">Eliminar Fruta</h3>
                 <form action="eliminarFruta.php" method="POST">
                  <br>
                  <label for="nombre">Nombre de fruta</label><br>
                  <input type="text" name="nombre" id="nombre" required>
                  <button type="submit" id="submit" name="submit">Enviar</button>
                </form>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>   