
  <body>
  
    <section id="tmWelcome" class="parallax-window" data-parallax="scroll" data-image-src="img/1.jpeg">
      <div class="container-fluid tm-brand-container-outer">
        <div class="row">
          <div class="col-12">

            <div class="ml-auto mr-0 tm-bg-black-transparent text-white tm-brand-container-inner">
              <div class="container text-center">
                <h1 class="title">Laboratorio 15</h1>
                <p class="description mb-0">Adriana Paola</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tm-bg-white-transparent tm-welcome-container">
        <div class="container-fluid">
          <div class="row h-100">
     
            <div class="col-md-7 tm-welcome-left-col">
              <div class="tm-welcome-left">
                <h2 class="tm-welcome-title">Mi "blog-cito" de prueba</h2>
                <p class="pb-0">Este es un pequeño blog en el que se implementan algunos de los elementos que nos ofrece <a rel="nofollow" href="https://getbootstrap.com/">Bootstrap</a>
                </p>
              </div>
            </div>
            <!-- Brown bg -->
            <div class="col-md-5">
              <div class="tm-welcome-right">
                <i class="fas fa-4x fa-address-card p-3 tm-welcome-icon"></i>
                <p class="mb-0"> Mi nombre completo es Adriana Paola Salinas García tengo 19 años de edad, originaria del Estado de Hidalgo y cursando mi 4to semestre de la carrera de Ingeniería en Sistemas Computacionales.
                  
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

      
      
    <section id="tmPortfolio">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h2 class="tm-welcome-title" id="Preguntas">Preguntas:</h2>
            <div class="tm-portfolio-item"> 
              <div class="tm-portfolio-description">
                <h4 class="tm-text-green">
                  ¿Por qué es una buena práctica separar el modelo del controlador?
                    
                </h4>
                <p class="mb-0">Porque facilita la detección de errores ya que nos permite dividir en partes el código, y así siendo independientes si se realiza algún cambio no se afectaría el resto. De este modo se mantiene el código lo más simple posible ya que cada parte en específico tiene su propia función.
                  [1]
                </p>
              </div>
            </div>



            <div class="tm-portfolio-item"> 
              <div class="tm-portfolio-description">
                <h4 class="tm-text-green">
                  ¿Qué es SQL Injection?
                </h4>
                <p class="mb-0">Es una vulnerabilidad en la que el atacante envía instrucciones SQL por medio de las entradas o formas de la página para que entre dentro de un código SQL con fines de manipular una base de datos. Y en consecuencia administrar la base de datos.[2]
                </p>
              </div>
            </div>


            <div class="tm-portfolio-item"> 
              <div class="tm-portfolio-description">
                <h4 class="tm-text-green">
                  ¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?
                </h4>
                <p class="mb-0">
                  Verificar los datos que se están recibiendo como entrada y comprobar que es el tipo de dato esperado. También se recomienda no brindar detalles extras de los errores que se generan.
                </p>
              </div>
            </div>



          </div>
        </div>
      </div>
    </section>

      
    <div id="tmContact" class="parallax-window" data-parallax="scroll" data-image-src="img/fondo1.jpeg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="tm-bg-white-transparent">
                <i class="fas fa-5x fa-briefcase tm-contact-item-icon"></i>
                <h2 class="tm-welcome-title" id="Referencias">Referencias:</h2> 
           
                <p class="pb-0">[1]<a rel="nofollow" href="https://www.ecodeup.com/patrones-de-diseno-en-java-mvc-dao-y-dto/">https://www.ecodeup.com/patrones-de-diseno-en-java-mvc-dao-y-dto/</a> 
                </p>
                <p class="pb-0">[2]<a rel="nofollow" href="https://openwebinars.net/blog/que-es-sql-injection/">https://openwebinars.net/blog/que-es-sql-injection/</a> 
                </p>
                <p class="pb-0">[3]<a rel="nofollow" href="https://geeks.ms/gtorres/2010/10/29/tips-para-evitar-sql-injection/">https://geeks.ms/gtorres/2010/10/29/tips-para-evitar-sql-injection/</a> 
                </p>
              </div>
            </div>
          </div>
        </div>


        
      
    
