                
<br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="tm-bg-white-transparent">
          <div class="row">
            <div class="col-12">
              <div class="container">
                <h3 class="tm-welcome-title">Buscar Fruta (Por Nombre)</h3>
                <form method="POST" action="consultaNombre.php">
                  <input type="text" name="nombre" id="nombre">
                  <button type="submit">Buscar por nombre</button>
                </form>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>         
                