
  <body>
  
    <section id="tmWelcome" class="parallax-window" data-parallax="scroll" data-image-src="img/1.jpeg">
      <div class="container-fluid tm-brand-container-outer">
        <div class="row">
          <div class="col-12">

            <div class="ml-auto mr-0 tm-bg-black-transparent text-white tm-brand-container-inner">
              <div class="container text-center">
                <h1 class="title">Laboratorio 18</h1>
                <p class="description mb-0">Adriana Paola</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tm-bg-white-transparent tm-welcome-container">
        <div class="container-fluid">
          <div class="row h-100">
     
            <div class="col-md-7 tm-welcome-left-col">
              <div class="tm-welcome-left">
                <h2 class="tm-welcome-title">Mi "blog-cito" de prueba</h2>
                <p class="pb-0">Este es un pequeño blog en el que se implementan algunos de los elementos que nos ofrece <a rel="nofollow" href="https://getbootstrap.com/">Bootstrap</a>
                </p>
              </div>
            </div>
            <!-- Brown bg -->
            <div class="col-md-5">
              <div class="tm-welcome-right">
                <i class="fas fa-4x fa-address-card p-3 tm-welcome-icon"></i>
                <p class="mb-0"> Mi nombre completo es Adriana Paola Salinas García tengo 19 años de edad, originaria del Estado de Hidalgo y cursando mi 4to semestre de la carrera de Ingeniería en Sistemas Computacionales.
                  
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

      
      
    <section id="tmPortfolio">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h2 class="tm-welcome-title" id="Preguntas">Preguntas:</h2>
            <div class="tm-portfolio-item"> 
              <div class="tm-portfolio-description">
                <h4 class="tm-text-green">
                  ¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications)?
                    
                </h4>
                <p class="mb-0">La tecnología RIA tiene como objetivo combinar las ventajas de las aplicaciones de escritorio con las de las aplicaciones web, enriqueciendo al cliente. Los productos JavaScript / AJAX son apropiados en situaciones donde el usuario espera que una aplicación funcione incondicionalmente en los navegadores. Al comprar un DVD o reservar un vuelo, por ejemplo, nadie querrá instalar un complemento. [1]
                </p>
              </div>
            </div>



            <div class="tm-portfolio-item"> 
              <div class="tm-portfolio-description">
                <h4 class="tm-text-green">
                  ¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?
                </h4>
                <p class="mb-0">Además de las implicaciones de SQL Inyection y Cross Side Scripting se agregan algunas consideraciones que se mencionan a continuación:
                Las validaciones de seguridad de deben de hacer, como siempre, tanto del lado del cliente como del lado del servidor. 
                </p>
                  
                <p>Del lado del cliente (Javascript) se dan las siguientes recomendaciones:</p>
                  <ul>
                    <li>Usar .innerText en lugar de .innerHtml</li>
                    <li>No usar eval()</li>
                    <li>No depender de la lógica de negocio del cliente.</li>
                    <li>Evitar usar XML o JSON dinámicamente.</li>
                    <li>No encriptar del lado del cliente.</li>
                  </ul>
                  <p>Del lado del servidor se dan las siguientes recomendaciones:</p>
                  <ul>
                    <li>Usar protección CSRF (Cross-Site Request Forgery)</li>
                    <li>Protegesre ante JSON Hijacking para buscadores anteriores.</li>
                    <li>Evitar escribit código de searializacion. [2]</li>
                  </ul>
              </div>
            </div>


            <div class="tm-portfolio-item"> 
              <div class="tm-portfolio-description">
                <h4 class="tm-text-green">
                  ¿Qué es JSON?
                </h4>
                <p class="mb-0">
                  Javascript Object Notation es un formato de texto para serializar datos estructurados (cadenas, números, booleanos, nulos, objetos y arreglos). Proviene del lenguaje de programación ECMAScript.  [3]
                </p>
              </div>
            </div>



          </div>
        </div>
      </div>
    </section>

      
    <div id="tmContact" class="parallax-window" data-parallax="scroll" data-image-src="img/fondo1.jpeg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="tm-bg-white-transparent">
                <i class="fas fa-5x fa-briefcase tm-contact-item-icon"></i>
                <h2 class="tm-welcome-title" id="Referencias">Referencias:</h2> 
           
                <p class="pb-0">[1]<a rel="nofollow" href="https://www.javalobby.org/articles/ajax-ria-overview/">https://www.javalobby.org/articles/ajax-ria-overview/</a> 
                </p>
                <p class="pb-0">[2]<a rel="nofollow" href="https://www.owasp.org/index.php/AJAX_Security_Cheat_Sheet">https://www.owasp.org/index.php/AJAX_Security_Cheat_Sheet</a> 
                </p>
                <p class="pb-0">[3]<a rel="nofollow" href="https://frontendlabs.io/1490--json-que-es-json-parse-json-stringify">https://frontendlabs.io/1490--json-que-es-json-parse-json-stringify</a> 
                </p>
              </div>
            </div>
          </div>
        </div>


        
      
    
